
@{
    Layout = null;
}
@using TeaMVC.Models

@model List<Goods>

<!DOCTYPE html>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>显示商品列表</title>
</head>
<body>
    <div class="table">
        <table>
            <tr>
                @using (Html.BeginForm())
                {
                    <td>
                        <input type="text" name="name" />
                        <input type="submit" name="name" value="查找" class="btn btn-info" />
                    </td>
                }
                <td><input type="button" name="name" value="添加" class="btn btn-info" onclick="location.href='/Goods/AddGoods'" /></td>
            </tr>
        </table>

    </div>

    <div>
        <table class="table-bordered table" style="text-align:center">
            <tr style="background-color:darkturquoise">
                <td>商品编号</td>
                <td>图片</td>
                <td>商品名称</td>
                <td>商品单价</td>
                <td>库存数量</td>
                <td>商品描述</td>
                <td>商品状态</td>
                <td>操作</td>
            </tr>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.GNo</td>
                        <td>@item.GoodsPicture</td>
                        <td>@item.GName</td>
                        <td>@item.GPrice</td>
                        <td>@item.GNum</td>
                        <td>@item.GRemark</td>
                        <td>
                            @if (@item.GState == "下架")
                            {
                                <span style="color:red">@item.GState</span>
                            }
                            else
                            {
                                <span>@item.GState</span>
                            }

                        </td>
                        <td>
                            @if (item.GState == "上架")
                            {
                                <a href="/Goods/UpStateTwo?id=@item.GNo">下架</a>
                            }
                            else
                            {
                                <a href="/Goods/UpStateOne?id=@item.GNo">上架</a>
                            }
                            @*<a href="/Goods/UpGoods?id=@item.GNo">修改商品</a>*@
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</body>
</html>
