
@{
    Layout = "~/Views/Shared/IndexViewStart.cshtml";
}
@model List<TeaMVC.Models.OGModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrdersInfo</title>
</head>
<body>
    <table style="text-align:center">
        <tr>
            <td>订单号</td>
            <td>商品号</td>
            <td>购买数量</td>
            <td>备注</td>
            <td>图片</td>
            <td>商品名称</td>
            <td>商品备注</td>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.OINode</td>
                    <td>@item.GNos</td>
                    <td>@item.GNum</td>
                    <td>@item.GoodsPicture</td>
                    <td>@item.GName</td>
                    <td>@item.GRemark</td>
                    <td>@item.GState</td>e
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
